
/*itin helper*/
.brand-logo {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}
/*walt dis img*/
.disneyLogo {
    padding-top: 10px;
    text-align: center;
}

/*nav links*/
.link {
    color: white;
    text-decoration: none;
    padding: 1.4rem;
    cursor: pointer;
    transition: background 100ms ease;
}

.link:hover {
    background-color: #8280f4;
}

nav {
    /*background: #7f7f7f;*/
    background: #8F8DF5;
    flex: 0 0 4rem;
    justify-content: center;
    padding: 0 2rem;
    align-items: center;
    box-shadow: 2px -3px 12px 4px #AAA;
}



body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    overflow: auto;
    font-family: sans-serif;
    text-rendering: geometricPrecision;
    background: linear-gradient(top, black, black);
    background-attachment: fixed;
}

ui-view {
    max-width: 100vw;
    overflow: scroll;
    /*max-height: calc(100vh - 66px);*/
}

/*splits screen when config window opens*/
.fcol {
    display: flex;
    flex-flow: column;
}

/*****nav*****/
.frow {
    display: flex;
    flex-flow: row;
}

.fwrap {
    flex-wrap: wrap;
}

/******flex grid sizes********/
.f1 {
    flex: 1;
}

.f2 {
    flex: 2;
}

.f3 {
    flex: 3;
}

.calendar {
    position: relative;
    overflow: scroll;
    /*flex-shrink: 0;*/
}

/**********Config Window with inputs**********/
.config {
    background: rgba(0,0,0,0.1);
    min-width: 25vw;
    padding: 1rem;
}

.config > * {
    margin: 0.5rem;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 1rem 1.5rem;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    outline: none;
    border-radius: 0 0 0 8px;
}


/****************Grid CSS***********************/

.week {
  display: flex;
  height: 80px;
}

.header {
  display: flex;
  font-weight: bold;
  word-break: break-word;
  text-align: center;
}

.month {
  /*max-width: 560px;*/
  margin: 1rem 4rem;
  border: 1px solid #DDD;
  border-radius: 4px;
  min-height: 145px;
  min-width: 582px;

}

.day {
  padding: 5px;
  border: 1px solid #DDD;
  background-color: transparentize(white, 0.30);
  /*box-shadow: */
  /*  -1px -1px black, */
  /*  inset -1px -1px 0 0 black;*/
  word-break: break-word;

}

.week:hover {
    background: #F5F5F5;
    cursor: pointer;
}



/*********buttons**********/
button:focus {
    background: none;
}

.addday:hover {
    background: #EEE;
}

.addday:active {
    background: #DDD;
}

.addday, .addday:focus {
    flex: 1;
    background: #F5F5F5;
    border: 1px solid #DDD;
    font-size: 1.5rem;
    color: #999;
    outline: none;
    cursor: pointer;
}

.save {
    padding: 10px;
    font-size: 1rem;
    margin-left: 5px;
    border-radius: 2px;
    /*background-color: #DDD;*/
    background: #8F8DF5;
    border: 1px solid #DDD;
    color: white;
    outline: none;
    cursor: pointer;
}

.save:hover {
    background: #EEE;
    cursor: pointer;
}

/* For mobile phones: */
@media (max-width: 768px) {
    .day {
        width: 100%;
    }
}
