/*.builderFill {
    height: 100vh;
    width: 100vw;
    background: url('/assets/castlePicture.png')no-repeat center center;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.builderWrapper {
    background-color: #fff;
    margin: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 10px;
}*/
